/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  /* Clearfix */
  .block-group {
    *zoom: 1;
  }
  .block-group:before, .block-group:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .block-group:after {
    clear: both;
  }
  
  .block-group {
    /* ul/li compatibility */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Nested grid */
  .block-group > .block-group {
    clear: none;
    float: left;
    margin: 0 !important;
  }
  
  /* Default block */
  .block {
    float: left;
    width: 100%;
  }
  .b75 {
    width: 74%;
  }
  .b25 {
    width: 25%;
    margin-left: 1%;
  }
  
  html, body {
    background: #ECEFF1;
    font-size: 16px;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    background: white;
    margin: 3em auto;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 5px 7px rgba(50, 50, 93, 0.04), 0 1px 3px rgba(0, 0, 0, 0.03);
  }
  
  [data-processout-input], input {
    border: 1px solid #ECEFF1;
    border-radius: 4px;
    box-shadow: 0 5px 7px rgba(50, 50, 93, 0.04), 0 1px 3px rgba(0, 0, 0, 0.03);
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    font-size: 14px;
    min-height: 2em;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ECEFF1;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ECEFF1;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ECEFF1;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ECEFF1;
  }
  [data-processout-input]:nth-child(1) {
    width: 48%;
    display: inline-block;
  }
  [data-processout-input]:nth-child(2) {
    width: 25%;
    display: inline-block;
    margin-left: 1%;
  }
  [data-processout-input]:nth-child(3) {
    width: 25%;
    display: inline-block;
    margin-left: 1%;
  }
  
  input[type="submit"] {
    margin: 0;
    box-shadow: 0 5px 7px rgba(50, 50, 93, 0.04), 0 1px 3px rgba(0, 0, 0, 0.03);
    background: #3F51B5;
    color: white;
    border-radius: 4px;
    border: 1px solid #303F9F;
  }
  
  #errors, #success {
    margin-top: 1em;
    text-align: center;
    font-size: 0.9em;
    color: #D84315;
  }
  #success {
    color: #4CAF50;
  }